button {

    background-color: #3399FF;
    background-repeat: no-repeat ;
    background-position: center right;
    cursor: pointer;
}

img{
    height: 60px;
    
    padding-right: 0;
    margin-right: 0;
}

body{
    margin: 0;
    padding: 0;
}